* <================= Assessments Provided with Lessons ================>

# Python As A Calculator

In [ ]:
speed_in_km_per_hr = 25
time_in_hr = 4
distance = speed_in_km_per_hr * time_in_hr
print("Distance Covered by Peter in 4 hours is",distance,"kilometers")

# Expressions

In [ ]:
#  Calculate the Simple Interest

principal_in_usd = 5000
rate_of_interest = 10
time_in_years = 4

simple_interest = (principal_in_usd * rate_of_interest * time_in_years) / 100
print("The Simple Interest is",int(simple_interest))

## Advanced operations in Python

###  Exponentition & Modulo operation

In [ ]:
# Area of a Sqaure

side_in_cm = 4
area_of_square = side_in_cm ** 2
print("Area of the Square is",area_of_square)

# Variables

In [ ]:
#  Printing/Displaying the value of variables

bank_balance = 200
print(bank_balance)

In [ ]:
my_int = 20
my_float = 15.85
my_string = 'Hello World'
my_bool = True

In [ ]:
#  Area of a Rectangle
height = 50
width = 40
area_of_rectangle = height * width
print(area_of_rectangle)

In [ ]:
# New Area of a Rectangle

height = 60
width = 40
new_area_of_rectangle = height * width
print(new_area_of_rectangle)

In [ ]:
# BMI Calculation
height = 1.7
weight = 72.25
bmi = int(weight / height ** 2)
print(bmi)

In [ ]:
gender = "male"
is_obese = False

In [ ]:
height = 20
width = 80
area_of_rectangle = height * width

In [ ]:
total_interest = 9762.69
print(type(total_interest))

In [ ]:
type(area_of_rectangle)

In [ ]:
bmi = 25
print("BMI is " + bmi)

In [ ]:
bmi_str = str(bmi)
message = "BMI is " + bmi_str
print(message)

In [ ]:
first = 'Cloudx'
second = 'Lab'
final = first + second

In [ ]:
animal = "cat"
ten_animals = animal * 10

# Conditional Execution and Functions

In [ ]:
# Try and Except Structure - Error Handling in Python

astr = 'Bob'
try:
    print('Hello')
    istr = int(astr)
    print('There')
except:
    istr = -1
print('Done',istr)

In [ ]:
#  Another Try-Except Code
rawstr = input('Enter a number: ')
try:
    ival = int(rawstr)
except:
    ival = -1
    
if ival > 0:
    print('Nice Work')
else:
    print('Not a Number',ival)

In [ ]:
# Rewrite your pay computation to give the employee
# 1.5 times the hourly rate for hours worked above 40
# hours.

total_work_hrs = input("Enter total work hours: ")
hourly_rate = input("Enter rate: ")
try:
    total_work_hrs = int(total_work_hrs)
    hourly_rate = int(hourly_rate)
    regular_pay = total_work_hrs * hourly_rate
    if total_work_hrs > 40:
        bonus_pay = (total_work_hrs - 40) * hourly_rate * 1.5
        increased_pay = float(regular_pay + bonus_pay)
        print("Pay Computation =",increased_pay)
except:
    print("Error! Please Enter numeric Input.")

** Solution posted to Forum by Me 2 Years Ago **

hrs = 40
rate = 10

def computepay (hrs, rate):

    normal_pay = hrs * rate
    overtime_pay = (45 - hrs) * (1.5 * rate)
    final_pay = normal_pay + overtime_pay
    
    return final_pay

print("Computed Final Pay = " + str(computepay(hrs,rate)))

In [6]:
# Create Payment Calculator Function [some other type of solution]
def pay_calculator(hrs, rate):
    if hrs <= 40:
        total_pay = hrs * rate
    else:
        regular_pay = 40 * rate
        bonus_pay = (hrs - 40) * (rate * 1.5)
        total_pay = regular_pay + bonus_pay
    
    return total_pay

print("Payment Calculator -- Total Payment", pay_calculator(45,10))

Payment Calculator -- Total Payment 475.0

In [14]:
# Type Conversion
area_of_circle = 78.5
area_of_circle = str(area_of_circle)
area_of_circle_msg = "Area of the circle is - " + area_of_circle
print(area_of_circle_msg)

Area of the circle is - 78.5

In [21]:
len('cloudxlab')
max('cloudxlab')
min('cloudxlab')

'x'

In [29]:
edge = 8.9
square_area = edge ** 2
square_area_type = type(square_area)
square_area_int = int(square_area)
square_area_str = str(square_area_int)

print(round(square_area,2))
print(square_area_type)
print(square_area_int)
print(square_area_str)

79.21
<class 'float'>
79
79

In [28]:
# Math Functions
import math

In [15]:
print(math)

<module 'math' from '/usr/local/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so'>

In [16]:
# log10 function of math module computes log to the base10
math.log10(24)

1.380211241711606

In [17]:
# log function of math module computes logarithms to the base e
math.log(2)

0.6931471805599453

In [18]:
# It will find the cosine of radians, trigonometric fuctions take arguments in radians
# To convert from degrees to radians, divide by 360 and multiply by 2π.
math.cos(0)

1.0

In [19]:
# math module also have certain variables like pi
math.pi

3.141592653589793

In [20]:
# finding square root
math.sqrt(156)

12.489995996796797

In [21]:
square_root = math.sqrt(56.98)
sin_rad = 26 * (math.pi / 180)
sin_degree = math.sin(sin_rad)
log_e = math.log(1000)

print(square_root, sin_rad, sin_degree, log_e)

7.548509786706248 0.4537856055185257 0.4383711467890774 6.907755278982137

In [22]:
import random

In [23]:
random_number = random.random()
random_int = int(random_number)

In [24]:
def print_name():
    name = "Cloudxlab"        
    print("My name is", name)

print(type(print_name))
print_name()

<class 'function'>
My name is Cloudxlab

In [26]:
def get_name():
    print("Cloudxlab")
get_name()

Cloudxlab

In [29]:
str(math.cos(0))

'1.0'

In [32]:
def groupdata(message, **kwargs):
    grouped_data = {}
    for key, value in kwargs.items():
        grouped_data[key.split("_")[0]] = grouped_data.get(key.split("_")[0], 0) + value
    return message + " " + str(grouped_data)

summary = groupdata(
    "My fruits:",
    apple_indian = 3,
    orange_indian = 5,
    apple_mexican = 6,
    orange_mexica = 7,
    banana=11
)
print(summary)

My fruits: {'apple': 9, 'orange': 12, 'banana': 11}

In [33]:
def my_function(number):
    xyz = number
    xyz_str = str(xyz)
    xyz_str = xyz_str + "cloudxlab"
    print(xyz_str)
my_function(10)

10cloudxlab

In [38]:
var = my_function(10)
print(var)
print(type(var))

10cloudxlab
None
<class 'NoneType'>

In [39]:
import math
def new_function(num):
    return num * math.pi
def void_function(num1,num2):
    print(new_function(pow(num1,num2)))

In [40]:
void_function(4.6,7.3)

216412.35147094267

In [43]:
def input_name():
    prompt = "What am I studying?"
    return input(prompt)

In [44]:
input_name()

What am I studying?Python

'Python'

In [45]:
subject = input_name()
print(subject)

What am I studying?Python
Python

In [109]:
def is_on_line(x1,x2,x):
    if x >= x1 and x <= x2:
        return True
    else:
        return False

In [2]:
def conditional_statements(num1,num2,num3,num4):
    if type(num2)==float and type(num1)==int and type(num3)==int and type(num4)==int:
        if num2>num1>num3 and num1 == num4:
            return num1+num2+num3+num4
    else:
        return None

conditional_statements(5,6.3,2,5)

18.3

In [27]:
def except_func(num):
    try:
        return num**2
    except:
        return 'invalid number'
    
except_func(6.4)

40.96000000000001

In [33]:
name = str()
name = first_name + 'Naha'
print(name)

NameError: name 'first_name' is not defined

# Loops and Iteration

In [1]:
n = input("Enter a number: ")
def print_even(n):
    for num in range(0,n):
        if num % 2 == 0:
            print(num)

Enter a number: 6

In [2]:
print_even(6)

0
2
4

In [9]:
#  COMPUTE THE COMPOUND INTEREST
def compound_interest(principle, rate, years):
    if principle > 0 and rate > 0 and years > 0:
        interest = 0.0
        x = principle
        old_principle = principle
        for i in range(years):
            interest = (x * rate * 1)/100
            x = x + interest
        comp_interest = x - old_principle
        return comp_interest
    else:
        return(0)

In [109]:
# WHILE LOOP CONSTRUCT
def sum_func(a):
    if type(a) is int:
        if a < 0:
            return -1
        else:
            sum_total = 0
            i = 0
            while i <= a:
                sum_total = sum_total + i
                i += 1
            return sum_total
    else:
        return -1

In [101]:
# APPLICATION OF BREAK & CONTINUE STATEMENTS(but here not applied !!)
def special_func(num):
    total = 0   
    if(type(num) is int and num > 0):
        total = 1
        n = 3
        while n <= num:
            if num % n == 0 and n % 2 != 0:
                total = total + n
            n += 1
        return total
    else:
        return -10

In [102]:
special_func(15)

24

In [140]:
number = input("Enter a number: ")
def special_function(number):
    total_c = 0
    if type(number) is int and number > 0:
        total_c = 1 # because 1 is always a factor
        number = 3 # because we need odd numbers for addition,so 2 is excluded
        for i in range(3,number+1):
            if number % i == 0 and i % 2 != 0:
                total_c = total_c + number
            return total_c
    else:
        return -10
special_function(number)

Enter a number: 10

-10

In [16]:
def str_func(string):
    return string[len(string)-1]
str_func('cloudxlab')

'b'

In [3]:
def sum_str_func(arg):
    s = str(arg)
    l = len(s)
    total = 0
    for digit in range(l+1):
        total += int(digit)
    return total
sum_str_func(1234)

10

In [5]:
def slicing_func(arg):
    print(arg[2:])

slicing_func("cloudxlab")

oudxlab

In [9]:
a = "cloudxlab"
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [16]:
string = "machine"
print(string == " machine")
print(string == "Machine")
print(string == "MACHINE")

False
False
False

In [17]:
a = 'cloudxlab'
print(a.upper())
print(a)

CLOUDXLAB
cloudxlab

In [19]:
def email_func(email):
    pos = email.find('@') #first occuring index of '@'
    index = pos
    if pos != -1:
        while index >= 0 and email[index]!=' ':
            index -= 1   #(index = index - 1)
        first_part = email[index+1:pos]
        end_pos = email.find(' ',pos)
        if end_pos == -1:
            second_part = email[pos:]
        else:
            second_part = email[pos:end_pos]
        return first_part + second_part
    else:
        return False

In [20]:
email_func("Sayantan's Mail Id is - dev.journey29@gmail.com")

'dev.journey29@gmail.com'

In [21]:
email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

'abhinav@cloudxlab.com'

In [22]:
email_func("a a@")

'a@'

In [3]:
print('%d+3' % 3)
print("%f %f %s")
print("%f %s %d" % (12.3,12,'cloudxlab'))

3+3
%f %f %s

TypeError: %d format: a number is required, not str

In [30]:
a = [1,2,3,4,5]
for number in range(len(a)):
    a[number] = a[number] + 1
print(a)

[2, 3, 4, 5, 6]

In [29]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [7,4,9]
print(a)
for element in range(len(a)):
    total = total + a[element]
print(total)

[1, 2, 7, 4, 9, 6, 7, 8, 9]
53

In [40]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
a = [1,2,3,4,5,6,7,8,9]
a.count(9)
a.append('Ten')
print(a)
a.clear()
print(a)
b = [2,4,6,8,91,0].copy()
print(b)
a.extend([9])
print(a)
print(a.index(9))
print(b.index(91))

c = []
print(c)
c.insert(-1,'sayantan')
print(c)
c.extend([2,4,6])
print(c)
c.insert(0,'Mr')
print(c)
c.pop(2)
print(c)
c.remove('sayantan')
print(c)
c.reverse()
print(c)
c[:2] = ['6','4']
print(c)
c.sort()
print(c)
c.sort(reverse=True)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Ten']
[]
[2, 4, 6, 8, 91, 0]
[9]
0
4
[]
['sayantan']
['sayantan', 2, 4, 6]
['Mr', 'sayantan', 2, 4, 6]
['Mr', 'sayantan', 4, 6]
['Mr', 4, 6]
[6, 4, 'Mr']
['6', '4', 'Mr']
['4', '6', 'Mr']
['Mr', '6', '4']

In [9]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])
print(a)

56
[23, 12, 32, 1, 2, 34, 56, 12]

In [10]:
a.extend(a)
print(a)

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [12]:
total = sum(a)
print(total)

344

In [13]:
a.sort()
print(a)

[1, 1, 2, 2, 12, 12, 12, 12, 23, 23, 32, 32, 34, 34, 56, 56]

In [14]:
print(a[2]+a[7])

14

In [2]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
list1.pop(3) # It deletes the nested list [2,4,5]
total = sum(list1)
print(total)
list1.pop() # In this case it will delete the last element
total = sum(list1)
print(total)

89
84

In [3]:
# If we dont want any deleted value returned, we use del operator
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[1]
print(list2)

['cloudx', 'provides', 'cloud', 'lab']

In [4]:
# element to be removed is known, use remove method
list2.remove('lab') # return value is None

In [5]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[:]
len(list2)

0

In [10]:
# For more than one substring or character present as a delimiter
s = "I am learning Python at CloudxLab. I am very excited as well."
sp = s.split("am")
print(sp)

['I ', ' learning Python at CloudxLab. I ', ' very excited as well.']

In [11]:
# Joinning the splitted List elements into the original string
delimiter = "am"
print(delimiter.join(sp))

I am learning Python at CloudxLab. I am very excited as well.

In [16]:
s = str(input("Give an input string: "))
def str_list_func(s):
    splitted = s.split()
    count = 0
    for word in splitted:
        if len(word)==1:
            count += 1
        else:
            ch_first = word[0]
            ch_last = word[-1]
            splitted[count] = ch_last + word[1:-1] +ch_first
            count += 1
    delimiter = " "
    return delimiter.join(splitted)

str_list_func(s)

Give an input string: I am learning Python at CloudxLab

'I ma gearninl nythoP ta bloudxLaC'

In [23]:
# FILE HANDLING
def file_read_func(path_str):
    try:
        with open(path_str) as f:
            content = f.read()
            without_newline = content.replace('\n',' ') #replacing newline with space
            list_words = content.split()
            total = 0
            for w in list_words:
                total += len(w)
        return total
    except:
        return -1

In [47]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1

In [48]:
print(check)

0

In [53]:
# can mention 'r' as an argument, but not necessary in read mode
with open("/cxldata/python_sample_file",'r') as f:
    print(f.read())

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [54]:
with open("/cxldata/python_sample_file") as f:
    print(f.read())

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [55]:
with open("/cxldata/python_sample_file", 'w') as f:
    print(f.read())

PermissionError: [Errno 13] Permission denied: '/cxldata/python_sample_file'

In [56]:
with open("cxl.txt", 'w') as f:
    f.write("Python is a scripting language")

In [60]:
with open("cxl.txt", 'a') as f:
    f.write(" Python is a scripting language")

In [61]:
with open("cxl.txt", 'r') as f:
    print(f.read())

Python is a scripting languagePython is a scripting language Python is a scripting language

In [62]:
with open("python_file_writing.txt",'w') as file:
    file.write("I am learning Python at CloudxLab")

In [63]:
!pwd

/home/sayantanpiku185987/cloudxlab_jupyter_notebooks

# Dictionaries and Tuples

In [68]:
tup = ()
sort_method = tup.sort()
print(sort_method)

AttributeError: 'tuple' object has no attribute 'sort'

In [69]:
append_method = tup.append('sayantan')
print(append_method)

AttributeError: 'tuple' object has no attribute 'append'

In [70]:
reverse_method = tup.reverse('sayantan')
print(reverse_method)

AttributeError: 'tuple' object has no attribute 'reverse'

### The Tuples are comparable element by element.

If the first element in the first tuple is smaller than the first element second tuple it returns the result True else it returns False. Otherwise, it will go to the next element and compare if the inequality is true, then it will return True else False, like this it will carry on.

### While defining temporary variables tuples are used because they are more efficient

## Working with Dictionaries

In [22]:
def dict_func(word_str):
    d = dict()
    try:
        if len(word_str) >= 1:
            for w in word_str.split():
                if w not in d:
                    d[w] = 1
                else:
                    d[w] = d[w] + 1
        return d
    except:
        return "Input String must have atleast one word!"
    
print(dict_func("c d e c d e k d k i s wwe is me"))
print(dict_func("The quick brown fox jumps over the lazy dog"))

{'c': 2, 'd': 3, 'e': 2, 'k': 2, 'i': 1, 's': 1, 'wwe': 1, 'is': 1, 'me': 1}
{'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'the': 1, 'lazy': 1, 'dog': 1}

## Working with Tuples

### Tuples are immutable but also comparable and hashable so we can sort lists of them and use tuples as key values in Python dictionaries.

In [23]:
type((1))

int

In [24]:
type((1,))

tuple

In [26]:
t = tuple()
print(t)

()

In [31]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))
print(len(t1))
print(len(t2))
print(len(t3))

9
5
5

### We can access elements of the tuple using square brackets but we can't reassign the value because tuples are immutable. We can also slice the tuples to get multiple elements using the indices as the range.

In [44]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(t[l-2])
print(t[2:5]) # Slicing
sum(t[2:5])

34
(5, 2, 54)

61

In [46]:
print(t[1:3])
print(t2[:])
sum(t[1:3]+t2[:])

(3, 5)
(5, 2, 54)

69

In [48]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()
l

[(0, 23, 34), (1, 34, 23), (2, 34, 23)]

In [51]:
l.sort(reverse=True)
sum(l[2])

57

In [2]:
l = [1,2,3]
a,b,c = l
type(l)

list

In [9]:
l = [1,2,3]
(a,b,c) = l
type(l)
type(l[2])
type((a,b,c))
print(b)
a,b = b,a
print(b)

2
1

In [28]:
def dict_tuple_func(list_int):
    d = dict()
    for e in list_int:
        if e in d:
            d[e] += 1
        else:
            d[e] = 1
        unique_list = dict.fromkeys(list_int)
        sum_total = sum(unique_list)
        t = tuple()
        t = t + (d,sum_total)
    return t
dict_tuple_func([3,5,7,8,10,3,7,10])

({3: 2, 5: 1, 7: 2, 8: 1, 10: 2}, 33)

# Regular Expressions

In [11]:
hand = open('mbox-short.txt')
for line in hand:
    line = line.rstrip() # returns a copy of string with trailing whitespace removed
    if line.find('From:') >= 0:
        print(line)

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu
From: gsilver@umich.edu
From: wagnermr@iupui.edu
From: zqian@umich.edu
From: antranig@caret.cam.ac.uk
From: gopal.ramasammycook@gmail.com
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: louis@media.berkeley.edu
From: ray@media.berkeley.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu

In [13]:
# with RegEx approach
import re

hand = open('mbox-short.txt')
for line in hand:
    line = line.rstrip()
    if re.search('From:', line):
        print(line)

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu
From: gsilver@umich.edu
From: wagnermr@iupui.edu
From: zqian@umich.edu
From: antranig@caret.cam.ac.uk
From: gopal.ramasammycook@gmail.com
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: louis@media.berkeley.edu
From: ray@media.berkeley.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu

In [15]:
# With string search method startswith()
hand = open('mbox-short.txt')
for line in hand:
    line = line.rstrip()
    if line.startswith('From:'):
        print(line)

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu
From: gsilver@umich.edu
From: wagnermr@iupui.edu
From: zqian@umich.edu
From: antranig@caret.cam.ac.uk
From: gopal.ramasammycook@gmail.com
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: louis@media.berkeley.edu
From: ray@media.berkeley.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu

In [19]:
import re

hand = open('mbox-short.txt')
for line in hand:
    line = line.rstrip()
    if re.search('^From:',line): # searching for given string at the beginning of line
        print(line)

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu
From: gsilver@umich.edu
From: wagnermr@iupui.edu
From: zqian@umich.edu
From: antranig@caret.cam.ac.uk
From: gopal.ramasammycook@gmail.com
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: louis@media.berkeley.edu
From: ray@media.berkeley.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu

In [32]:
x = 'My 2 favorite numbers are 19 and 42'
y = re.findall('[^XYZ]',x)
print(y)
z = re.findall('[0-9]+',x)
print(z)
x1 = re.findall('[\s]',x)
print(x1)
print(x1.count(' '))

['M', 'y', ' ', '2', ' ', 'f', 'a', 'v', 'o', 'r', 'i', 't', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', 's', ' ', 'a', 'r', 'e', ' ', '1', '9', ' ', 'a', 'n', 'd', ' ', '4', '2']
['2', '19', '42']
[' ', ' ', ' ', ' ', ' ', ' ', ' ']
7

In [35]:
# GREEDY APPROACH
x = 'From: Using the : character'
y = re.findall('^F.+:',x) # From first character = ^F (F is first char of 'From')
# to the last character ':', upto that we want to match & extract
print(y)

['From: Using the :']

In [36]:
# NON-GREEDY APPROACH
x = 'From: Using the : character'
y = re.findall('^F.+?:',x) # From first character = ^F (F is first char of 'From')
# to the last character ':', upto that we want to match & extract
print(y)

['From:']

In [46]:
# Fine-Tuning String Extraction
x2 = "From stephen.marquard@uct.ac.za Sat Jan   5  09:14:16 2008"
y = re.findall('\S+@+\S+',x2)
print(y)

y = re.findall('^From:.*?(\S+@\S+)',x2)
print(y)

['stephen.marquard@uct.ac.za']
[]

In [50]:
# Extracting the host-name using find() & string slicing
atrate_pos = x2.find('@')
print(atrate_pos)
space_pos = x2.find(' ',atrate_pos)
print(space_pos)
host = x2[atrate_pos+1:space_pos]
print(host)

21
31
uct.ac.za

In [54]:
# Double Split Patten --> Sometimes we split a line one way,
# and then grab one of the pieces of the line and split that piece again
words = x2.split()
email = words[1]
pieces = email.split('@')
print(pieces[1])

uct.ac.za